* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 7px;
    position: static;
    height: 10vh;
    background-color: #19A7CE
}

nav ul {
    padding: 20px 100px 20px 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

nav ul li {
    padding-right: 50px;
    list-style: none;
    padding: 0px 5px;
    ;
}

nav ul li a {
    padding-left: 10px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(21,18,18);
}


nav {
    display: flex;
}

.search input {
    padding: 5px 20px;
    margin-right: 20px;
    height: 22px;
    width: 40rem;
    border-radius: 10px;
}

img {
    border-radius: 20px;
    border: 5px solid #212A3E;

}

.search {
    padding: 0 80px;
    display: flex;
    align-items: center;
}

nav ul a.homelink,
nav ul li a:hover {
    transition-duration: 200ms;
    color: rgb(233, 228, 243);
}

.logoimg:hover {
    transition-duration: 1000ms;
    transform: rotate(360deg);
}

.fas:hover {
    transition-duration: 300ms;
    transform: scale(2);

}

.slider {
    margin: 12px auto;
    max-width: 80vw;
}

.card {
    margin: auto;
    width: 78vw;
}

.card-item {
    width: 11vw;
    ;
    display: inline-flex;
    flex-direction: column;
    margin: 5px 15px;
}

.lines {
    text-align: center;
}

::-webkit-scrollbar-thumb {
    background-color: #213d67;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.cards {
    margin: 6px;
    display: flex;
    overflow: scroll;
}

hr {
    margin: 25px;
}

img:hover{
    transition-duration: 200ms;
    scale: 1.05;
}


.logoimg {
    border-radius: 20px;
    border: 3px solid #212A3E;
    height: 50px;
    width: 55px;
    margin-right: 20px;
}

footer {
    font-family: 'Roboto Mono', monospace;
    height: 8vh;
    width: 100vw;
    background-color: #19A7CE;
    font-size: 13px;
}

footer p {
    padding-top: 10px;
    text-align: center;
}

footer i {
    padding: 10px;
    font-size: large;
    margin-bottom: 10px;
}

footer i:hover {
    transition-duration: 300ms;
    scale: 1.5;
    color: rgb(120, 28, 82);
}